/*need some hover commands
/*need some container and letter colors
/*need a bit of overall styling*/

/*Nav bar needs Highscore link on left, title centered and countdown timer in right corner*/

/*main needs centered large question and 4 separate divs for answers*/

/* Footer needs to be centered with some styling*/

/* misc styles, need background and colors, ideal text and sizing, bootstrap??*/

h1 {
    display: center;
    float: inherit;
    text-align: center;
}
#left{
    text-align: left;
    
}
main{
    padding-left: 20%;
}
#right{
    text-align: right;
    display: inline-block;
}
button {
    width: 300px;
    background-color: aqua;
}